body{
  background-color: wheat;
}
input{
  width: 200px;
  height: 20px;
  border-radius: 5px;
  margin-left: 10px;
}
.App {
  text-align: center;
  background-color: rgb(235, 213, 235);
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid gray;
  margin: 100px auto;
  width: 50%;
}
button{
  margin: 10px;
  padding: auto;
  border: 2px solid black;
  text-align: center;
  background-color: red;
  color: white;
  width: 70px;
  height: 30px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}